<div class="Section1">

<p class="Usuel" align="center" style="text-align:center">[<span style="mso-bidi-font-size:
10.0pt"><a href="http://www.bibliquest.org" target="_top"><b><span style="font-family:Arial">page principale</span></b></a></span> | <a href="http://www.bibliquest.org/quoi_de_neuf.htm"><span style="mso-bidi-font-size:
10.0pt;font-family:Arial">nouveautés</span></a> | <span style="mso-bidi-font-size:
10.0pt;font-family:Arial"><a href="http://www.bibliquest.org/Bible_table_matieres.htm">La Bible</a></span> |
<a href="http://www.bibliquest.org/sujets_bases_pour_la_foi.htm"><span style="mso-bidi-font-size:10.0pt;font-family:Arial">la foi</span></a> | <a href="http://www.bibliquest.org/Sujets_References_General.htm"><span style="mso-bidi-font-size:10.0pt;font-family:Arial">sujets</span></a> | <a href="http://www.bibliquest.org/Commentaires_AT.htm"><span style="mso-bidi-font-size:10.0pt;font-family:Arial">études AT</span></a> | <a href="http://www.bibliquest.org/Commentaires_NT.htm"><span style="mso-bidi-font-size:10.0pt;font-family:Arial">études NT</span></a> | <a href="http://www.bibliquest.org/Index_auteurs-ouvrages-sujets.htm#Liste_auteurs"> Index_auteurs-ouvrages-sujets </a> | <a href="http://www.bibliquest.org/Index_centres_interet.htm"><span style="mso-bidi-font-size:10.0pt;font-family:Arial">centres d’intérêt</span></a>]</p>

<p class="Usuel" align="center" style="text-align:center"><o:p>&nbsp;</o:p></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Bible"><a name="enTete"></a>La Bible</p>

<p class="Bible"><o:p>&nbsp;</o:p></p>

<p class="Bible"><o:p>&nbsp;</o:p></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Testament"><a name="AT"></a>TESTAMENTA TALOHA</p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Testament"><span style="font-size:12.0pt;font-weight:normal;mso-bidi-font-weight:
bold"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>
<p class="Usuel"><span style="mso-ansi-language:FR"><o:p>&nbsp;</o:p></span></p>
<p class="Livre" id="at31"><span lang="EN-GB" style="mso-ansi-language:EN-GB">Obadia<o:p></o:p></span></p>
<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">1 [Ny fahitan'i
Obadia ny amin'ny handravana an'i Edoma mbamin'ny jentilisa sasany noho ny
ratsy nataony tamin'ny Isiraely, ary ny hampiorenana ny fanjakan'i Jehovah any
Ziona] Ny fahitan'i Obadia. Izao no lazain'i Jehovah Tompo ny amin'i Edoma:
Nahare filazana avy tamin'i Jehovah izahay, Ary nisy iraka nalefa ho any
amin'ny jentilisa hanao hoe: Mitsangàna, aoka isika hitsangana hanafika azy!<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">2 Indro,
hataoko tsinontsinona eo amin'ny firenena ianao, Eny, ho fanazimbazimba
indrindra ianao.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">3 Ny
avonavon'ny fonao no namitaka anao, Ry ilay monina ao an-tsefatsefaky ny
harambato, Any amin'ny fonenana avo, Sady manao anakampo hoe: Iza no
hampivarina ahy ho eny an-tany?<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">4 Na dia
miakatra tahaka ny voromahery aza ianao Ka mametraka ny akaninao eny amin'ny
kintana, Dia havariko avy eny ianao, hoy Jehovah.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">5 Raha, tahìny
misy mpangalatra, na jiolahy alina, tonga ao aminao, (Indrisy, fongotra ianao!)
</span><span lang="IT" style="mso-ansi-language:IT">Moa tsy izay hahafa-po azy
ihany va no hangalariny ? Raha tahìny misy mpioty voaloboka tonga ao aminao,
Moa tsy hamela voaloboka sisa hotsimponina va izy?<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">6 Endrey ny
fitady ny an'i Esao! Endrey ny fikatsaka ny hareny miafina!<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">7 Ny olona
rehetra izay vita fanekena taminao no nampandeha anao hatramin'ny sisin-tany;
Izay tsara fihavanana aminao no namitaka ka naharesy anao; Izay mihinana ny
haninao no namela-pandrika ao ambaninao Tsy misy fahalalana ao aminy!<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">8 Moa tsy
amin'izany andro izany va, hoy Jehovah, no hamongorako ny olon-kendry ao Edoma,
Sy ny manan-tsaina ao an-tendrombohitr'i Esao?<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">9 Ary ho
raiki-tahotra ny lehilahy maherinao, ry Temana, Mba haringana amin'ny vonoana
ho foana ny any an-tendrombohitr'i Esao.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">10 Noho ny
fampahoriana an'i Jakoba rahalahinao dia ho voasaron-kenatra ianao Ka ho
fongotra mandrakizay.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">11 Tamin'ilay
andro namitsahanao* teny am-pita, Tamin'ny andro namaboan'ny vahiny ny
fananany, Sy nidiran'ny hafa firenena teo amin'ny vavahadiny, Ary nanaovany
loka an'i Jerosalema, Dia mba toy ny anankiray tamin'ireny koa ianao.[Heb.
nijanonanao]<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">12 Aza
finaritra mijery ny andron'ny rahalahinao amin'ny andro ahitany loza izay tsy
misy toa izany; Ary aza mifaly ny amin'ny taranak'i Joda amin'ny andro
andringanana azy; Ary aza manao teny miavonavona amin'ny andro fahoriana<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">13 Aza miditra
amin'ny vavahadin'ny oloko amin'ny andro ahitany loza; Aza finaritra mijery ny
fahantrany amin'ny andro ahitany loza ianao, Ary aza maninji-tàna haka ny
fananany amin'ny andro ahitany loza<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">14 Aza
mamitsaka* eo amin'ny sampanan-dalana hamono izay afa-nandositra ianao; Ary aza
manolotra izay sisa aminy amin'ny andro fahoriana.[Heb. mijanona]<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">15 Fa efa
antomotra amin'ny jentilisa rehetra ny andron'i Jehovah; Toy ny nataonao no mba
hatao aminao kosa; Eny, hitsingerina ho eo an-dohanao ny nataonao.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">16 Fa toy ny
nisotroanareo teo an-tendrombohitra masina, Dia toy izany koa no hisotroan'ny
firenena rehetra mandrakariva, Eny, hisotro izy ka hitelina, Ary ho toy ny tsy
ary izy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">17 Fa ao
an-tendrombohitra Ziona dia hisy izay sisa afaka, Ary ho masina izy; Ary ny
taranak'i Jakoba hahalasa ny fananany.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">18 Ny taranak'i
Jakoba ho afo, Ary ny taranak'i Josefa ho lelafo, Fa ny taranak'i Esao kosa ho
vodivary, Ary harehitr'ireny izy ka holevoniny; Ary tsy hisy sisa afaka ny
taranak'i Esao, Fa Jehovah no efa niteny.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">19 Ny any
amin'ny tany atsimo no hahalasa ny tendrombohitr'i Esao;Ary ny any amin'ny tany
lemaka amoron-tsiraka* no hahalasa ny Filistina; Hahalasa ny tanin'ny Efraima
sy ny tany Samaria izy; Ary Benjamina hahalasa an'i Gileada. [Heb. sefela]<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">20 Ary ny babo
amin'izao Zanak'Isiraely maro be izao hahalasa ny Kananita hatrany Zarefata,
Ary ny babo* tany Jerosalema, izay any Sefarada, dia hahalasa ny tanàna any
amin'ny tany atsimo. [Na: marobe izao, izay any amin'ny Kananita hatrany
Zerefata, sy ny babo, etc..]<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">21 Ary hisy
mpamonjy miakatra ho ao an-tendrombohitra Ziona Hitsara ny tendrombohitr'i
Esao; Ary ho an'i Jehovah Jon 1:1<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p>&nbsp;</o:p></span></p>
<p class="Livre" id="nt18"><span lang="IT" style="mso-ansi-language:IT">Filemona<o:p></o:p></span></p>
<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">1 [Fiarahabana an'i
Filemona, sy fifonana ho an'i Onesimosy, ary fanaovam-beloma] Paoly, mpifatotra
an'i Kristy Jesosy, ary Timoty rahalahy, mamangy an'i Filemona, izay malalanay
sy mpiara-miasa aminay,<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">2 ary mamangy an'i
Apia anabavinay sy Arkipo, miaramila namantsika, ary ny fiangonana ao
an-tranonao:<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">3 ho aminareo anie ny
fahasoavana sy ny fiadanana avy amin'Andriamanitra Raintsika sy Jesosy Kristy
Tompo.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">4 Misaotra
an'Andriamanitro mandrakariva aho, raha mahatsiaro anao amin'ny fivavahako,<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">5 satria reko ny
fitiavanao sy ny finoana* izay anananao ho an'i Jesosy Tompo sy ho an'ny olona
masina rehetra, [* Na: ny finoanao]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">6 mba hiasa mafy ho
an'i Kristy ny fiombonana avy amin'ny finoanao amin'ny fahalalana tsara ny
zavatra rehetra izay ao anatinareo.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">7 Fa nanana fifaliana
sy fiononana amin'ny fitiavanao aho, satria efa novelombelominao ny fon'ny
olona masina, ry rahalahy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">8 Koa na dia manana
fahasahiana be ao amin'i Kristy handidy anao amin'izay mendrika aza aho,<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">9 nefa noho ny
fitiavana, izaho Paoly, izay efa anti-panahy* sady mpifatotra an'i Kristy
Jesosy koa ankehitriny, dia miangavy aminao. [* Na: ambasadôra]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">10 Eny, miangavy
aminao aho ny amin'ny zanako, izay naterako teto amin'ny fifatorako, dia
Onesimosy*, [* Onesimosy = Mahasoa]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">11 ilay tsy nahasoa
anao fahiny, nefa ankehitriny mahasoa antsika, dia ianao sy izaho;<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">12 izay
nampodiko indray, dia ilay sombin'ny aiko;<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">13 saiky
nohazoniko tatỳ amiko izy hanompo ahy hisolo anao eto amin'ny fifatorako
noho ny filazantsara;<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">14 nefa raha
tsy nahalala izay hevitrao aho aloha, dia tsy ta-hanao na inona na inona, mba
tsy ho toy ny amin'ny fanerena ny soa ataonao, fa amin'ny sitrapo.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">15 Fa izany
angaha no nialany vetivety, dia ny mba hanananao azy mandrakizay,<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">16 tsy toy ny
andevo intsony anefa, fa efa mihoatra noho ny andevo, dia rahalahy malala,
indrindra fa ho ahy, mainka fa ho anao, na amin'ny nofo, na amin'ny Tompo.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">17 Koa raha ataonao
ho namanao aho, dia raiso toa ahy izy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">18 Nefa raha nanao
izay tsy marina taminao izy, na mitrosa, dia ataovy ho ahy izany;<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">19 izaho Paoly no
manoratra izany amin'ny tanako, izaho no handoa izany - nefa tsy lazaiko aminao
fa mitrosa ny tenanao amiko aza ianao.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">20 Eny, ry rahalahy,
aoka hanana fifaliana avy aminao ao amin'ny Tompo aho; velombelomy ny foko ao
amin'i Kristy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">21 Noho ny
fahatokiako fa hanaiky ianao no anoratako aminao, ka fantatro fa hanao mihoatra
noho izay lazaiko aza ianao.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">22 Ary izao koa: Mba
anamboary trano hitoerako aho; fa manantena aho fa homena anareo noho ny vavaka
ataonareo.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">23 Manao veloma anao
Epafra, mpifatotra namako ao amin'i Kristy Jesosy,<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">24 sy Marka sy
Aristarko sy Demasy ary Lioka, mpiara-miasa amiko.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">25 Ho amin'ny
fanahinareo anie ny fahasoavan'i Jesosy Kristy Tompontsika. Amena.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p>&nbsp;</o:p></span></p>

<p class="Livre"><a name="nt19"></a><span lang="EN-GB" style="mso-ansi-language:EN-GB">Hebreo<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p>&nbsp;</o:p></span></p>

<p class="AccesDirect"><span lang="EN-GB" style="mso-ansi-language:EN-GB">Accès
direct aux chapitres des Hébreux&nbsp;: </span><span style="mso-ansi-language:
FR"><a href="#nt19_01"><span lang="EN-GB" style="mso-ansi-language:EN-GB">1</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_02"><span lang="EN-GB" style="mso-ansi-language:EN-GB">2</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_03"><span lang="EN-GB" style="mso-ansi-language:EN-GB">3</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_04"><span lang="EN-GB" style="mso-ansi-language:EN-GB">4</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_05"><span lang="EN-GB" style="mso-ansi-language:EN-GB">5</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_06"><span lang="EN-GB" style="mso-ansi-language:EN-GB">6</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_07"><span lang="EN-GB" style="mso-ansi-language:EN-GB">7</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_08"><span lang="EN-GB" style="mso-ansi-language:EN-GB">8</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_09"><span lang="EN-GB" style="mso-ansi-language:EN-GB">9</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_10"><span lang="EN-GB" style="mso-ansi-language:EN-GB">10</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_11"><span lang="EN-GB" style="mso-ansi-language:EN-GB">11</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_12"><span lang="EN-GB" style="mso-ansi-language:EN-GB">12</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB">, </span><span style="mso-ansi-language:
FR"><a href="#nt19_13"><span lang="EN-GB" style="mso-ansi-language:EN-GB">13</span></a></span><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB"><o:p>&nbsp;</o:p></span></p>
<p class="Livre" id="nt24"><span lang="IT" style="mso-ansi-language:IT">2
Jaona<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">1 [Anatra ny amin'ny
faharetana amin'ny marina, sy ny tsy handraisana ny mpampianatra sandoka] Izaho
loholona* mamangy an'itompokovavy** voafidy sy ny zanany, izay tiako amin'ny
fahamarinana (ary tsy izaho ihany, fa izay rehetra mahalala ny marina koa) [*
Gr. Ny presbytera] [** Na: an'i Kyria]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">2 noho ny
fahamarinana izay mitoetra ato anatintsika sady ho ato amintsika mandrakizay:<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">3 ho amintsika ny
fahasoavana sy ny famindram-po ary ny fiadanana avy amin'Andriamanitra Ray sy
Jesosy Kristy, Zanaky ny Ray, amin'ny fahamarinana sy ny fitiavana.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">4 Faly indrindra aho,
satria misy hitako ny zanakao sasany mandeha amin'ny fahamarinana araka ny
nandraisantsika didy tamin'ny Ray.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">5 Ary mangataka
aminao aho ankehitriny, tompokovavy*, tsy toy ny manoratra didy vaovao aminao,
fa ilay nananantsika hatramin'ny voalohany ihany, dia aoka hifankatia isika. </span><span lang="EN-GB" style="mso-ansi-language:EN-GB">[* Na: ry Kyria]<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">6 Ary izao no
fitiavana, dia ny handehanantsika araka ny didiny. Izany no didy, tahaka ny efa
renareo hatramin'ny taloha ihany, dia ny handehananareo aminy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">7 Fa maro ny
mpamitaka efa lasa any amin'izao tontolo izao, dia ireny tsy manaiky fa efa
tonga tamin'ny nofo Jesosy Kristy. Izy no mpamitaka sy antikristy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">8 Mitandrema
ianareo, fandrao mahavery izay namonoanay tena, fa mba handraisanareo
valim-pitia tanteraka.<o:p></o:p></span></p>

<p class="Usuel"><span lang="EN-GB" style="mso-ansi-language:EN-GB">9 Izay rehetra
mitarika nefa tsy mitoetra ao amin'ny fampianaran'i Kristy, dia tsy manana an
Andriamanitra. </span><span lang="IT" style="mso-ansi-language:IT">Izay mitoetra
ao amin'ny fampianarana, dia izy no manana ny Ray sy ny Zanaka.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">10 Raha misy olona
mankeo aminareo ka tsy mitondra izao fampianarana izao, aza mampiantrano azy na
miarahaba azy akory;<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">11 fa izay miarahaba
azy dia miombona amin'ny ratsy ataony.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">12 Manana zavatra
maro hosoratana aminareo aho, nefa tsy tiako hatao amin'ny taratasy sy ny
ranomainty izany; fa manantena ho tonga atỳ aminareo aho ka hiteny
mifanatrika, mba ho tanteraka ny fifalianareo.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">13 Ny zanaky ny
rahavavinao voafidy manao veloma anao.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Livre"><a name="nt25"></a><span lang="IT" style="mso-ansi-language:IT">3
Jaona<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">1 [Fisaorana an'i
Gaio noho ny nandraisany vahiny, sy filazana ny amin'i Diotrefa sy Demetrio]
Izaho loholona* mamangy an'i Galo, ilay malala, izay tiako amin'ny
fahamarinana. [* Gr. Ny presbytera]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">2 Ry malala,
mangataka aho mba hambinina sy ho salama amin'ny zavatra rehetra anie ianao,
tahaka izay anambinana ny fanahinao ihany.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">3 Fa faly indrindra
aho, fony nisy rahalahy tonga ka nanambara ny fahamarinanao, dia toy ny
andehananao araka ny fahamarinana.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">4 Tsy manana
fifaliana mihoatra noho izao aho, dia ny andrenesako fa mandeha araka ny
fahamarinana ny zanako.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">5 Ry malala, manao
asa mahatoky ianao na amin'inona na amin'inona ataonao amin'ireo rahalahy ireo,
na dia vahiny aza izy,<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">6 izay nanambara ny
fitiavanao teo anatrehan'ny fiangonana*; dia ho soa no ataonao, raha mamoaka
azy koa araka izay miendrika hatao noho ny amin'Andriamanitra ianao; [* Gr.
eklesia]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">7 fa noho ny Anarana
no niangany, ka tsy naka na inona na inona tamin'ny jentilisa izy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">8 Koa isika dia
tokony handray tsara izay toy izany, mba ho mpiara-miasa aminy amin'ny
fahamarinana.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">9 Nanoratra tamin'ny
fiangonana* Ihany aho; nefa Diotrefa, izay te-ho lohany, dia tsy mba mandray
anay. [* Gr. eklesia]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">10 Koa amin'izany,
raha tonga aho, dia hotsarovako izay asa ataony, fa mibedibedy foana manaratsy
anay izy; ary tsy afa-po amin'izany ihany, fa ny tenany dia tsy mandray ireo
rahalahy ireo, ary izay ta-handray azy dia raràny sy roahiny hiala amin'ny
fiangonana*. [* Gr. eklesia]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">11 Ry malala, aza ny
ratsy no alain-tahaka, fa ny tsara. Izay manao ny tsara no avy
amin'Andriamanitra; fa izay manao ny ratsy tsy mba nahita an'Andriamanitra.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">12 Demetrio dia tsara
laza amin'ny olona rehetra sy amin'ny fahamarinana koa; ary izahay koa
manambara izany, ary fantatrao fa marina ny fanambaranay.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">13 Nanana zavatra
maro hosoratana aho, nefa tsy tiako hosoratana aminao amin'ny ranomainty sy ny
penina*; [* Gr. volotara]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">14 fa manantena
hahita anao faingana ihany aho, dia hiteny mifanatrika isika.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">15 Ho aminao anie ny
fiadanana. Ny sakaiza atỳ manao veloma anao. Veloma amin'ny sakaiza
tsirairay araka ny anarany avy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Livre"><a name="nt26"></a><span lang="IT" style="mso-ansi-language:IT">Joda<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">1 [Fananarana ny
amin'ny mpampianatra sandoka] Joda, mpanompon'i Jesosy Kristy sady rahalahin'i
Jakoba, mamangy izay olona voantso, malala ao amin'Andriamanitra Ray sy
voatahiry ho an'i Jesosy Kristy;<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">2 hampitomboina ho
anareo anie ny famindram-po sy ny fiadanana ary ny fitiavana.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">3 Ry malala, raha
manao izay zotom-po rehetra hanoratra aminareo aho hilaza ny amin'ny famonjena
iombonantsika, dia nisy nahatery ahy hanoratra aminareo, hananatra mba
hiezahanareo mafy hiaro ny finoana izay efa voatolotra indray mandeha monja ho
an'ny olona masina.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">4 Fa misy olona
sasany efa niditra misokosoko, izay voasoratra fahiny ho amin'izany
fahamelohana izany, dia olona ratsy fanahy izay mamadika ny
fahasoavan'Andriamanitsika ho fijejojejoana sady nandà ny Andrian-tokana, dia
Jesosy Kristy Tompontsika*. [* Na: mandà ny Andrian-tokana sy Jesosy Kristy
Tompontsika]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">5 Ary
ta-hampahatsiaro anareo aho, na dia efa fantatrareo rahateo aza ny zavatra
rehetra, fa rehefa novonjen'ny Tompo ho afaka tany Egypta ny olona, dia
naringany ihany tao aorian'izany izay tsy nino.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">6 Ary ny anjely izay
tsy nitana ny anjara-fanapahany, fa nandao ny fonenany, dia voahazony amin'ny
fatorana mandrakizay ao amin'ny maizina ho amin'ny andro fitsarana lehibe.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">7 Ary toy izany koa,
Sodoma sy Gomora mbamin'ny tanàna nanodidina azy, izay nijangajanga tahaka azy
koa ka lasa nanaraka nofo hafa, dia aseho ho fananarana amin'ny iaretany
fijaliana amin'ny afo maharitra mandrakizay.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">8 Kanefa toy izany
koa, ireo dia manonofy ka mandoto ny nofo sady mandà ny manana fahalehibiazana
ary miteny ratsy* ny manana voninahitra. [* Gr. manao blasfemia; izahao Mat. IX
3]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">9 Fa Mikaela
arikanjely aza, raha niady tamin'ny devoly ka nifanditra ny amin'ny fatin'i
Mosesy, dia tsy sahy niteny ratsy hahameloka azy, fa hoy izy: "Hananatra
anao anie Jehovah".<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">10 Fa ireo kosa dia
miteny ratsy izay zavatra rehetra tsy fantany akory; ary izay zavatra fantany
fotsiny, tahaka ny fahalalan'ny biby tsy manan-tsaina kosa, no animbany* ny
tenany. [* Na: andotoany]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">11 Hahita loza izy!
fa efa nandeha tamin'ny lalan'i Kama, sady efa nimaona fatratra hanaraka ny
fahadisoan'i Balama hahazoany tamby, ary efa ringana tamin'ny fiodinan'i Kora
izy.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">12 Ireo no harambato
voasaron-drano* eo amin'ny fanasam-pifankatiavanareo, raha miara-mihinana
aminareo izy, dia mpiandry mamahan-tena, nefa tsy matahotra; rahona tsy misy
rano, entin'ny rivotra, ireo; hazo fararano, nefa tsy misy voany, indroa maty,
voafongotra; [* Na: Ireo no pentimpentina]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">13 onjan-dranomasina
mitopatopa mamorivory ny fahamenarany; kintana mifindrafindra, ka voatahiry ho
azy mandrakizay ny fahamaintisan'ny maizina.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">14 Ary Enoka koa,
ilay fahafito nandimby an'i Adama, dia efa naminany ny amin'ireny olona ireny
ka nanao hoe: "Indro, tonga Jehovah mbamin'ny masiny tsy omby alinalina<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">15 hitsara ny olona
rehetra sy hampiaiky ny olona ratsy fanahy rehetra ny asan'ny haratsiam-panahy
rehetra, izay nataony tamin'ny haratsiam-panahiny sy ny teny sarotra rehetra
izay nitenenan'ny mpanota ratsy fanahy hanohitra Azy."<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">16 Ireo dia
mpimonomonona sy mpimoimoy, mandeha araka ny filany (ary ny vavany manao teny
miavonavona loatra) ka mandoka olona mba hahazoany zavatra.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">17 Fa tsarovinareo,
ry malala, ny teny voalazan'ny Apostolin'i Jesosy Kristy Tompontsika fahiny;<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">18 fa efa nilaza
taminareo hoe izy: Amin'ny andro farany dia hisy mpaniratsira, mandeha araka ny
filan'ny haratsiam-panahiny.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">19 Ireo no mahatonga
fisarahana, dia olona araka ny nofo ihany, fa tsy mba manana ny Fanahy*. [* Na:
tsy mba manana fanahy]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">20 Fa ianareo kosa,
ry malala, dia ataovy izay handrosoanareo amin'ny finoanareo masina indrindra,
ka mivavaha ao amin'ny Fanahy Masina;<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">21 ary tehirizo ny
tenanareo ao amin'ny fitiavan'Andriamanitra, miandry ny famindram-pon'i Jesosy
Kristy Tompontsika ho fiainana mandrakizay.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">22 Ary amindrao fo ny
sasany izay miahanahana*; [* Na: raha miady aminareo izy]<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">23 ary ny sasany kosa
sariho avy amin'ny afo no famonjy azy; ary ny sasany indray amindrao fo
amin-tahotra, ka mankahalà na dia ny akanjo voapentimpentin'ny nofo aza.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">24 Ary ho an'izay
maharo anareo mba tsy ho tafintohina, ary hametraka anareo tsy hanan-tsiny eo
anoloan'ny voninahiny amin'ny firavoravoana,<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT">25 ho
an'Andriamanitra tokana, Mpamonjy antsika, amin'ny alalan i Jesosy Kristy
Tompontsika anie, ny voninahitra sy ny fahalehibiazana, ny fanjakana sy ny
fahefana hatramin'ny taloha indrindra sy ankehitriny ary mandrakizay. Amena.<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>

<p class="Livre"><a name="nt27"></a><span lang="IT" style="mso-ansi-language:IT">Apokalypsy<o:p></o:p></span></p>

<p class="Usuel"><span lang="IT" style="mso-ansi-language:IT"><o:p>&nbsp;</o:p></span></p>
</div>