@font-face {
    font-family: 'Noto Serif';
    font-display: optional;
    src: url('NotoSerif-Regular-webfont.eot');
    src: url('NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('NotoSerif-Regular-webfont.woff') format('woff'),
         url('NotoSerif-Regular-webfont.ttf') format('truetype'),
         url('NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
   font-family: 'Noto Serif';
   font-display: optional;
   src: url('NotoSerif-Bold-webfont.eot');
   src: url('NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
   url('NotoSerif-Bold-webfont.woff') format('woff'),
   url('NotoSerif-Bold-webfont.ttf') format('truetype'),
   url('NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
   font-weight: 600;
   font-style: normal;
   
}

@font-face {
   font-family: 'Noto Serif';
   font-display: optional;
   src: url('NotoSerif-Italic-webfont.eot');
   src: url('NotoSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
   url('NotoSerif-Italic-webfont.woff') format('woff'),
   url('NotoSerif-Italic-webfont.ttf') format('truetype'),
   url('NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
   font-weight: normal;
   font-style: italic;
   
}

@font-face {
   font-family: 'Noto Serif';
   font-display: optional;
   src: url('NotoSerif-BoldItalic-webfont.eot');
   src: url('NotoSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
   url('NotoSerif-BoldItalic-webfont.woff') format('woff'),
   url('NotoSerif-BoldItalic-webfont.ttf') format('truetype'),
   url('NotoSerif-BoldItalic-webfont.svg#noto_serifbold_italic') format('svg');
   font-weight: 600;
   font-style: italic;
   
}
