:root {
    --fpmao-background: hsl(230, 93%, 10%);
    --fpmao-text-color: hsl(230, 93%, 95%);
    --fpmao-section-color: hsl(257deg 100% 89%);
    --fpmao-input-color: hsl(0deg 0% 95%);
    --fpmao-color-1: var(--fpmao-section-color);
    --fpmao-color-2: var(--fpmao-text-color);
    --fpmao-keyboard-key-bg: linear-gradient(145deg, #3b4a6a, #46587e);
    --fpmao-keyboard-key-shadow: 12px 12px 24px #252e43,
    -12px -12px 24px #394869;
    --fpmao-keyboard-key-color: var(--fpmao-text-color);
    --primary-text-color: var(--fpmao-text-color);
    --paper-input-container-focus-color: var(--fpmao-section-color);
}
.home-img {
    filter: invert(1) hue-rotate(175deg);
}