:root {
    --fpmao-background: #fff;
    --fpmao-text-color: #000;
    --fpmao-section-color: #4800ff;
    --fpmao-input-color: var(--light-theme-secondary-color);
    --fpmao-color-1: #0033ab; /* cmyk = (100,70,0,33) hsl(222deg 100% 34%)*/
    --fpmao-color-2: #1c35b8; /* cmyk = (85,71,20,10) hsl(230deg 74% 42%) */
    --fpmao-keyboard-key-bg: linear-gradient(145deg, white, #e6e6e6);
    --fpmao-keyboard-key-shadow: 9px 9px 19px #ededed, -9px -9px 19px white;
    --fpmao-keyboard-key-color: var(--fpmao-text-color);
}