@import url(../../lib/font/playfair-display/playfair-display.css);
@import url(../../lib/font/noto-serif/noto-serif.css);
@import url(../../lib/font/open-sans/open-sans.css);
/* overview animation */
.reveal .slides {
  transition: transform 500ms 0s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1) translate3d(0, 0, 0);
  will-change: transform; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.25;
  padding: 5px 0;
  flex-wrap: wrap;
  height: 100%;
  top: 0;
  bottom: 0;
  box-sizing: border-box; }
  .reveal .slides > section.present,
  .reveal .slides > section > section.present {
    display: flex; }

.reveal .slides section {
  line-height: 1.25;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem; }
  .reveal .slides section p:not('.hr-hira') {
    margin-top: 1.25em;
    margin-bottom: 0;
    margin-right: 1ex; }

.reveal section img, .reveal section .img {
  align-self: center;
  margin: 1rem 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

li > p:first-child {
  margin-top: 0;
  margin-bottom: 0; }

/*&.hira h3{
      
   }*/
.slides section.hira {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: stretch; }
  .slides section.hira h3 {
    margin: 0 0 10px;
    line-height: 1; }

div.hira.tononkira {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
  /*alignement of flex lines*/
  flex: 1 0 0%;
  padding: 0 1ex;
  overflow-y: auto; }
  div.hira.tononkira p.andininy, div.hira.tononkira p.fiverenan-kira {
    flex: 0 1 auto;
    text-align: start;
    max-width: 30em;
    padding-top: calc(1ex + 2px);
    padding-bottom: calc(1.25em - 1ex + 2px);
    padding-left: calc(1ex + 2px);
    padding-right: calc(1ex + 2px);
    margin: 0 5px 10px 0; }
    div.hira.tononkira p.andininy.selected, div.hira.tononkira p.fiverenan-kira.selected {
      padding-top: 1ex;
      padding-bottom: calc(1.25em - 1ex);
      padding-left: 1ex;
      padding-right: 1ex;
      border-top: 2px solid #4800ff;
      border-bottom: 2px solid #4800ff;
      border-left: 2px solid #4800ff;
      border-right: 2px solid #4800ff;
      margin: 0 5px 10px 0;
      box-shadow: grey 4px 7px 10px; }
    div.hira.tononkira p.andininy span, div.hira.tononkira p.fiverenan-kira span {
      margin-right: 1ex; }
  div.hira.tononkira p.fiverenan-kira {
    order: 2; }
    div.hira.tononkira p.fiverenan-kira span.fiverenan-kira {
      margin-right: 0; }

:root {
  --title-font-size: 2em;
  --title-font-weight: 600;
  --title-font-family: Playfair Display, Droid Serif, serif;
  --title-color: #4800ff;
  --lyrics-verse__fontFamily: Open Sans, Arimo, sans-serif; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Open Sans", Arimo, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #000; }

::selection {
  color: #fff;
  background: #563c65;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #563c65;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.25;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #4800ff;
  font-family: "Playfair Display", "Droid Serif", serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: #000000;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 2em; }

.reveal h3 {
  font-size: 1.6em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 1.25em 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 1.25em auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 1.25em auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00194d;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #465b76;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #000001; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00194d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #00194d; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #00194d; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #00194d; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #00194d; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #465b76; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #465b76; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #465b76; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #465b76; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #00194d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
