@import "../template/mixins";
@import "../template/settings";

@import url(../../lib/font/playfair-display/playfair-display.css);
@import url(../../lib/font/noto-serif/noto-serif.css);
@import url(../../lib/font/open-sans/open-sans.css);

$backgroundColor: #ffffff;
$mainColor: #000000;
$sectionLineHeight: 1.25;
.reveal .slides>section,
.reveal .slides>section>section {
   line-height: $sectionLineHeight;
}
.reveal .slides section {
   p{
      margin:{
         top: $sectionLineHeight;
         bottom: 0;
      }
      line-height: $sectionLineHeight;
   }
   
   li>p:first-child{
      margin:{
         top: 0;
         bottom: 0;
      }
   }
}


$blockMargin: 1.25em;

$headingColor: #4800ff;
$mainFontSize: 5vh;
$mainFont: 'Open Sans', Arimo, sans-serif;
$headingFont: 'Playfair Display', 'Droid Serif', serif;
$headingTextShadow: #000000;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #00194d;
$linkColorHover: #465b76;
$selectionBackgroundColor: #563c65;
$heading1Size: 3em;
$heading2Size: 2em;
$heading3Size: 1.6em;
$heading4Size: 1.0em;

@import "../template/theme";