app-drawer {
  --app-drawer-width: 300px;
}
fanipazana-shell {
  display: block;
}
:root {
  --fpmao-manga: #264993;
  --fpmao-volomparasy: rgb(72, 0, 255);
  --mdc-theme-primary: var(--fpmao-manga);
  --fpmao-keyboard-key-size: 2rem;
}
.custom-buttons__icon--focus-fandaharana {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  --mdc-icon-button-size: 2rem;
  font-size: 2rem;
}
.custom-buttons__icon {
  position: fixed;
  width: 1em;
  height: 1em;
  right: 29px;
  bottom: 25px;
  color: var(--fpmao-keyboard-key-color);
  opacity: 0.7;
  z-index: 31;
  cursor: alias;
}
@media (min-width: 500px) {
  
}